In [1]:
%load_ext watermark

In [2]:
%watermark -a Schmelling,Nicolas -u -d -v

Schmelling,Nicolas
Last updated: 21/07/2016

CPython 3.5.2
IPython 4.1.1

---
Any comments and suggestions or questions?     
Please feel free to contact me via [twitter](https://twitter.com/derschmelling) or [email](mailto:nicolasschmelling@gmail.com).

---

# Values and Variables
---
This notebook serves as an introduction to Python  __boolean__, __numerical__, and text sequence (__string__) built-in types. These types and basic operation with them will be explained using biological relevant topics.

<a id="content"></a>

### Content

- [Boolean](#bool)
- [Numeric](#num)
- [String](#str)
- [Variables](#var)

<a id="bool"></a>

## Booleans

---
There are __two__ logical or boolean values _True_ and _False_. These two are 'case-sensitive', that means that _true_ is not _True_.
It is possible to operate with them following the boolean logic. Furthermore _True_ is equal to 1 and _False_ equal to 0. This enables numerical operation with _True_ and _False_.

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

In [6]:
bool(3) # converts into boolean type

True

In [8]:
bool(0)

False

In [9]:
bool(' ')

True

In [10]:
bool('')

False

### Logical Operations
---

In [20]:
not True # negates the boolean value

-1

In [ ]:
not False

In [5]:
True and False # True if both sides of and are equal

False

In [ ]:
False == False # similar to and

In [4]:
True or False # False if both sides of and are equal else it returns True

True

In [ ]:
1 == 1

In [ ]:
True == 1

In [ ]:
False == 0

In [ ]:
True + True

In [ ]:
False + 10

In [ ]:
True * 2

In [19]:
isinstance(4.0,float) # test if first argument is of type second argument

True

[Back to content](#content)

<a id="num"></a>
## Numeric
---

Numerical values in Python are separated into three distinct types: __integers__, __floating point number__ (float), and __complex numbers__. We'll cover in this notebook [integers](#int) and [floats](#float).

<a id="int"></a>
### Integer
---
Integers in Python are numbers, positive or negative, which do not contain a period. In a sence are booleans a special type of integers as well.

In [ ]:
2

In [ ]:
-13

In [ ]:
type(2)

In [16]:
int(2.5) # converts argument into an interger

2

In [23]:
int('2')

2

<a id="float"></a>
### Float
---
Floats in Python are numbers, positive or negative, which contain a period.

In [ ]:
2,5

In [ ]:
-3.14

In [ ]:
2e4

In [ ]:
0.00001

In [ ]:
type(1.4)

In [15]:
float(1)

1.0

In [24]:
float('2.3')

2.3

### Numerical Operations
---

+

-

*

** # power

/ # float division

// # floor division, integer division

% # modulo, remainder of floor division

In [27]:
divmod(4,2) # returns the results of floor division [0] and modulo [1]

(2, 0)

[Back to content](#content)

<a id="str"></a>
## String
---
A string in Python are sequence of characters. One character is a string of length one. Strings are enclosed in a pair of quotes, otherwise Python will take it as a variable, which will be covered later in the notebook.

In [ ]:
'ATGC'

In [ ]:
type('ATGC')

In [17]:
str(2)

'2'

### String Operations
---

In [ ]:
'AT' + 'GC'

In [ ]:
'AT' - 'A'

In [5]:
'TA' * 12

'TATATATATATATATATATATATA'

In [ ]:
'TATA' in 'TA' * 12

In [ ]:
'AA' in 'TA' * 12

In [ ]:
'AA' not in 'TA' * 12

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[0] # Python counts from 0

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[1]

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[-1]

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[-2]

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[4]

In [7]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[1:4] #[start:stop-1]

'NKMD'

In [8]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[:]

'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'

In [9]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[:8]

'MNKMDLVA'

In [10]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[::-1]

'AFVADIVETAKAKSLDTKEAVDAVLDMKNM'

In [12]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[::3] #[start:stop:step]

'MMVVKLATIV'

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'.count('DL') # count argument

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'.count('M',0,3)

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'[4]

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'.find('DL') # find the first start of the argument

In [ ]:
'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'.startswith('MNK')

In [ ]:
'ATG'[0::2] #+ 'ATG'[2]

In [13]:
# Additional string operations
print('hello1'.isalpha()) # True if not empty and all alphabetic
print('hello1'.isalnum()) # True if not empty and all alphanumeric
print('123'.isdigit()) # True if not empty and all digit
print('hello'.islower()) # True if not empty and all lowercase
print('HELLO'.isupper()) # True if not empty and all uppercase

s = 'Biopython world'

print(s.replace('py','Py'))
print(s.lower())
print(s.upper())

False
True
True
True
True
BioPython world
biopython world
BIOPYTHON WORLD

[Back to content](#content)

<a id="var"></a>
## Variables
---
For easier handling you assign objects (strings, integers, floats) to names. You can use all previous operations and functions to manipulate these assigned statements.

In [ ]:
aaseq1 = 'MNKMDLVADVAEKTDLSKAKATEVIDAVFA'
aaseq2 = 'AARHSQWERHANDISDENASDHESDASUEUPLNUG'
dnaseq1 = 'ATGCATGCTAGCTAGCTACGACGGACTAGCTAG'

print(aaseq1)
print(len(aaseq2))
print(aaseq2[0])

aaseq1 == aaseq2

In [ ]:
aaseq1 = aaseq2

In [ ]:
print(aaseq1)
print(len(aaseq2))
print(aaseq2[0])

aaseq1 == aaseq2

### A little exercise to get you started

Write some code to calculate the Fahrenheit value, given a Celsius value.
Print out the results in a sentence.

°F = °C * 9 / 5 + 32

In [ ]:
C = 25

F = float(C)*9/5+32

print(float(C),'Celsius is',F,'Fahrenheit.')

### Exercise Strings & Variables

1. Find out if the sequence is all alphabetic and upper case.   
2. Count all DNA nucleotides of a given sequence.     
3. Find out if the sequence contains a start codon and find the first position. 
4. Calculate the GC content and print the results. 
  
   
1. Transcribe the DNA sequence into an RNA sequence.
    ATG -> AUG
2. Create the complementary strain of the DNA sequence.
    ATG -> TAC
3. Splice the RNA into functional mRNA.

3' ATG 5'
5' TAC 3'
3' CAT 5'

In [ ]:
seq = 'AATGCTGTAGCTGATGCGATGCTGATATGCGGCAGCAGTCGATGCAGGCGATGCT'

In [ ]:
seq[:5].replace('A','t').replace('T','a').upper()[::-1]

In [ ]:
seq.replace('A','t').replace('T','a').replace('G','c').replace('C','g').upper()[::-1]

In [ ]:
print(seq)
print(len(seq))
seq2 = seq[:17]+seq[25:]
print(seq2)
print(len(seq2))

In [ ]:
seq = 'ATGACTtagctgatcgtgatgctgGACGTATCGTAGCTAGATCGTACGTAGCTACGATCGTAGCTAGCTAGCTAGCATGCTACGTACGATCG'\
      'GTGCTCGCTCTCTCGCGATACGACTGCTACTGACTTAGCTGATCGTAGCTGAGCTAGCTGATCGTACGTGACAG'

In [ ]:
len(seq)

In [ ]:
print(seq.isalpha())
print(seq.isupper())

In [ ]:
seq = seq.upper()

In [ ]:
print(seq.count('A'), seq.count('T'), seq.count('C'), seq.count('G'))

In [ ]:
print(seq.count('ATG'))
print(seq.find('ATG'))

In [ ]:
motif = 'ATG'

print(seq.count(motif))

for i in range(len(seq)):
    if seq[i:].startswith(motif):
        print(i)

In [ ]:
print((seq.count('C') + seq.count('G')) / float(len(seq)) * 100)

In [ ]:
GC = (seq.count('C') + seq.count('G')) / float(len(seq)) * 100

In [ ]:
print(round(GC,3))
print('%.2f' % GC)

In [ ]:
RNA = seq.replace('T','U')
print(RNA)

In [ ]:
comp_DNA = seq.replace('A', 't').replace('T', 'a').replace('C', 'g').replace('G', 'c').upper()[::-1]
print(comp_DNA)

In [ ]:
print(seq[::-1].translate(str.maketrans('ACGT', 'TGCA')))

In [ ]:
seq[0:13]+seq[57:]

In [ ]:
celsius = float(input('Degrees Celsius: '))

fahrenheit = celsius * 9 / 5 + 32
print(str(celsius)+'°C are '+str(fahrenheit)+'°F.')
#print celsius,'°C are ',fahrenheit,'°F.'

celsius = (fahrenheit - 32) * 5 / 9
print(str(fahrenheit)+'°F are '+str(celsius)+'°C.')